<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6-TJJxy7mxnrE2OxDXRSWn8G9emEPP0U</string>
	<key>GCM_SENDER_ID</key>
	<string>156456516501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pknu.pknu</string>
	<key>PROJECT_ID</key>
	<string>pknu-201ab</string>
	<key>STORAGE_BUCKET</key>
	<string>pknu-201ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156456516501:ios:cb23042074b08c0640149c</string>
</dict>
</plist>